@charset "utf-8";
body{
        overflow: hidden;
}

/* ### 기본 스타일 커스터마이징 시작 ### */
.mbskin {
    text-align: center;
    padding: 0 10px;
    /* 추가 */
    background: rgba(255, 255, 255, .1);
    margin: 20px;
    border-radius: 5px;
 /*   background: #535353;*/
    position: relative;
    margin: 0px auto 10px;
}

/* 로그인 */
#mb_login {
    margin: 70px auto 10px;
    ;
    max-width: 500px;
    padding: 0 20px;
}

#mb_login h1 {
    font-size: 2em;
    text-align: center;
    margin: 0 0 20px
}


#mb_login #login_frm {

    position: relative;
    margin: 30px 0 10px 0;
}

#mb_login .frm_input {
    width: 100%;
    margin: 8px 0;
    height: 45px;
    border: 1px solid #767676;
    border-radius: 30px;
    padding-left: 15px;
}

#mb_login .mb_login_join:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: ""
}

#flogin {
    padding: 5px 20px;
    margin: 20px 0;
}

/* 추가 css */
.login_title {

    border-bottom: solid 1px #656565;
    font-size: 20px;
     /* color: #fff;*/
    margin: 0 0 20px;
    padding-bottom: 15px;
    text-align: left;
    font-weight: 500;
}

#login_frm input {
    box-sizing: border-box;
    border: none;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
   /* color: #fff;*/
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
}

::placeholder {
    /* 파이어폭스 51+, 크롬 57+ */
  /*  color: #e6e6e6;*/
    opacity: 1;
}

/*로그인버튼*/
.btn_sub {

    border: 0;
    background: #1eae97;
    color: #fff;
    cursor: pointer;
    height: 45px;
    line-height: 48px;
    padding: 0 10px;
    border-radius: 3px;
    vertical-align: middle; 
    text-align: center;
    border-radius: 30px;
    border: 1px solid #1eae97;
    font-size: 18px;
}


.loginNotice {
    width: 100%;
    border: none;
   /* color: #fff;*/
    padding:120px 10px 0 10px;
 /*   position: fixed;*/
    bottom: 40px;
    left: 0;
    box-sizing: border-box;
}

/*==== 비밀번호 변경 ===========*/
.pw_notice{
    color: rgb(241, 121, 126);
    text-align: left;
    font-size: 10px;
    padding-left: 18px;
    margin-bottom: 10px;
    display: none;
}

.dis_btn{
    border: 0;
    background: #ddd;
    color: #fff;
    cursor: default;
    height: 45px;
    line-height: 48px;
    padding: 0 10px;
    vertical-align: middle; 
    text-align: center;
    border-radius: 30px;
    font-size: 18px;
}
