@charset "utf-8";

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#container {
    width: 100%;
    margin-top: 50px;
    /*헤더높이만큼x*/
    text-align: left;
}

/* header start */
#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
}

.btnBack {
    width: 15%;
    text-align: center;
    color: #ff7d7e;
    background-color: #fff;
    vertical-align: middle;
}

/* header end */


/* container start */
.menuDiv {
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    padding: 0 20px;
    color: #888;
}

.subDiv {
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 0 20px;
}

.subDiv img {
    width: 10px;
    height: 14px;
    margin: 18px 0;
    float: right;
}

#appVer {
    float: right;
}

/* container end */

#footer {
    position: fixed;
    padding: 20px;
    color: #888;
    background-color: #eee;
    width: 100%;
    bottom: 0;
}
#topBack {
      width: 15%;
    text-align: center;
    color: #1eae97;
    background-color: #fff;
    vertical-align: middle;
}

.topSpan {
    display: block;
    /* width: 100%; */
    font-size: 16px;
    text-align: right;
}

.subDiv a.arrow {
    position: relative;
    /*    float: left;*/
}


.subDiv a.arrow::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #1eae97;
    border-right: 2px solid #1eae97;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    /*   right: -379px;*/
     left: -15px; 
    top: 50%;
    margin-top: -7px;
}
/*
.subDiv:after {
    content: "";
    display: block;
    clear: both;
}*/

.leftSpan {
    display: inline-block;
    width: 100%;
}

.subDiv:hover {
    background: rgba(134, 183, 156, 0.26);
}

/*===== 로그인 페이지====*/
.loginTitle {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid;
    padding: 20px;
    
}
